<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        margin: auto;
        width: 50%;
        padding: 30px;
        background: #e2e2e2;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to home page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, eveniet!
        Molestias ad iusto quae, iure corporis quisquam sint voluptate nemo,
        officiis nisi nesciunt doloremque tenetur adipisci laudantium provident
        tempore quos est natus saepe quaerat itaque alias maiores! Perferendis
        ab ex odio deleniti, tempora dicta deserunt earum consectetur asperiores
        veniam itaque.
      </p>
    </div>
  </body>
</html>
